.footer {
    width: 100%;
    min-height: 300px;
    background-color: rgb(211, 211, 211);
    .content {
        width: 920px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-top: 50px;
    }
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
}

.list1 {
    grid-area: 1 / 1 / 2 / 2;
    .btn {
        margin-bottom: 20px;
        button {
            height: 30px;
            border-radius: 5px;
            font-size: 14px;
        }
        #btn1 {
            width: 200px;
            text-align: left;
        }
        #btn2 {
            color: red;
            width: 80px;
            font-weight: 600;
        }
    }
    .footer-info {
        ul {
            display: flex;
            padding: 0px;
            gap: 10px;
            li {
                width: 100px;
                list-style: none;
                display: flex;
                gap: 0 10px;
                margin-bottom: 8px;
                align-items: center;
                .footer-info-inline {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: #000000;
                }
            }
        }
    }
}

.list2 {
    grid-area: 1 / 2 / 2 / 3;
    .footer-blog__item {
        opacity: 0.8;
        margin-bottom: 50px;
        h5 {
            font-size: 14px;
        }
        h6 {
            margin-bottom: 6px;
        }
        p {
            font-size: 11px;
            max-width: 96%;
        }
        span {
            font-size: 10px;
            float: right;
            color: red;
        }
    }
}

.list3 {
    grid-area: 1 / 3 / 2 / 4;
    .footer-latest {
        opacity: 0.8;
        p {
            font-size: 10px;
            max-width: 90%;
        }
        span {
            font-size: 12px;
            float: right;
            color: red;
        }
    }
}

.footer-item {
    p {
        font-family: $font1;
        font-size: 12px;
        margin-bottom: 10px;
    }
}

.footer-title {
    h4 {
        font-family: $font1;
        font-size: 19px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 10px;
    }
}

.footer-template {
    width: 100%;
    height: 60px;
    background-color: #aaaaaaf7;
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        color: #1a1a1a;
        font-family: $font1;
        font-size: 14px;
        padding: 20px;
        h5 {
            font-weight: 400;
        }
    }
}