.box {
    position: relative;
    top: 0px;
    z-index: 2;
    margin-top: 50px;
}

.box-item {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 0 40px;
    color: #fffF;
}

.box-item .item-col_1 {
    width: 250px;
    height: 220px;
    border-radius: 50px 0 50px 0;
    background-color: #97A9BD;
    padding: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 30%);
}

.box-item .item-col_1 .item-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #e9e9e9;
    text-align: center;
    margin: 0 auto;

}

.item-text {
    margin-top: 20px;


}

.item-text h5 {
    font-size: 1.1rem;
    font-weight: 700;
}

.item-text p {
    font-size: 15px;
    margin-top: 20px;
}

.box-item .col-1 {
    background-color: #97A9BD;

}

.box-item .col-1 .item-icon i {
    color: #97A9BD;
}


.box-item .col-2 {
    background-color: #A197BD;
}

.box-item .col-2 .item-icon i {
    color: #A197BD;
}

.box-item .col-3 {
    background-color: #BDA697;
}

.box-item .col-3 .item-icon i {
    color: #BDA697;
}

.box-item .col-4 {
    background-color: #97BDAB;
}

.box-item .col-4 .item-icon i {
    color: #97BDAB;
}

.item-col_1:hover {
    background-color: #fffF;
    color: #000;
    transition: all .9s ease;

    .item-icon {
        i {
            color: #fff;
        }
    }
}

.col-1:hover {

    .item-icon {
        background-color: #97A9BD;

    }
}

.col-2:hover {

    .item-icon {
        background-color: #A197BD;

    }
}

.col-3:hover {

    .item-icon {
        background-color: #BDA697;

    }
}

.col-4:hover {

    .item-icon {
        background-color: #97BDAB;

    }
}