.hero-card {
    position: relative;
    min-height: 634px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F4F4F4;

    .container-card {
        max-width: 100%;
    }

    .container-card-background {
        background-color: #ffff;
    }
}

.card__md1,
.card__md2 {
    max-width: 1250px;
    height: 700px;
    margin: 0 auto;

    .text-top {
        padding-top: 60px;

        h4 {
            font-size: 20px;
            font-family: $font1;
            font-weight: 400;
        }

        p {
            font-size: 15px;
            font-family: $font;
            font-weight: 300;
        }
    }

    .box-card {
        display: flex;
        margin-top: 50px;
        gap: 0 30px;

        .card {
            margin: 0 auto;
            width: 350px;
            height: 400px;
            background-color: white;

            &:hover {
                border: 1px solid $color;

            }

            &-col {
                padding: 15px;

                &__icon {
                    font-size: 5rem;

                    i {
                        color: $color;
                    }
                }

                .icon-filter__a i {
                    color: #B12E52;
                }

                .icon-filter__b i {
                    color: #00B900;
                }

                .icon-filter__c i {
                    color: #359AFF;
                }

                &__text {
                    h5 {
                        font-size: 20px;
                        font-family: $font1;
                        font-weight: 400;
                    }

                    p {
                        margin-top: 30px;
                        font-size: 15px;
                    }



                }

                &__money {
                    h6 {
                        font-size: 50px;
                        color: $color1;

                        sup {
                            font-size: 20px;
                            color: black;
                            font-weight: 300;
                        }

                        span {
                            font-size: 15px;
                            font-family: $font1;
                            font-weight: 400;
                            opacity: 0.8;
                            color: black;
                        }
                    }
                }
            }

            .btn {
                margin-top: 20px;

                button {
                    width: 100px;
                }

                .btn-filter__1 {

                    &:hover {
                        color: black;
                        background-color: rgb(255, 255, 255);
                        border: 1px solid $color;
                    }
                }
            }
        }
    }
}

/*  crossbar*/
.crossbar {
    width: 100%;
    position: relative;
    min-height: 105px;
    background-color: $color1;
    margin-top: 40px;

    .container {
        max-width: 1250px;
        margin: 0 auto;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;

        .bar-left {
            h5 {
                font-size: 20px;
                font-family: $font1;
                font-weight: 400;
                color: #fff;
            }
        }

        .bar-right {
            .btn {
                button {
                    width: 230px;
                    font-size: 15px;
                }
            }
        }
    }
}


.card__md2 {
    padding-bottom: 60px;

    .box-card {
        .card {
            padding: 20px;
            position: relative;
            border: 1px solid rgb(148, 148, 148);

            &:hover {
                background-color: #eeeeeea1;
            }

            .card-col__text {
                flex: 1;

                p {
                    font-size: 16px;
                    min-height: 70px;
                    flex: 1;
                    flex-shrink: 0;
                }
            }

            .btn {
                button {
                    min-width: 130px;
                }
            }
        }
    }
}

.card__md3 {
    max-width: 100%;
    min-height: 660px;
    background-color: #F4F4F4;

    .text-top {
        padding: 70px 0 70px;
    }

    .box-card {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 0 50px;

        .card {
            width: 300px;

            &-image {
                margin-bottom: 30px;
                position: relative;

                &:hover {
                    .filter__hover {
                        display: block;

                    }
                }

                img {
                    display: block;
                    width: 340px;
                    cursor: pointer;

                }

                .filter__hover {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    background-color: #ebebeb5e;
                    display: none;
                    cursor: pointer;

                    ion-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        font-size: 45px;
                        color: $color;

                    }
                }




            }


            &-title {
                font-size: 20px;
                font-family: $font;
                font-weight: 200;
            }
        }
    }

    .btn {
        margin-top: 50px;

        button {
            &:hover {
                background-color: rgba(255, 255, 255, 0);
                color: black;
                border: 1px solid black;
            }
        }
    }
}

.blog {
    width: 100%;
    min-height: 400px;
    background-image: url(../app_images/2b314e6ad8d714894dc6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        background-color: rgba(0, 0, 0, .55);
        min-height: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;

        .row {}

        .row-image {
            padding-top: 50px;

            img {
                width: 100px;
                height: 100px;
                border-radius: 100px;
                margin: 0 auto;
            }

        }

        .row-text {
            color: #fff;

            p {
                max-width: 700px;
                margin: 0 auto;
                padding-top: 30px;
                font-family: $font;
                font-weight: 300;
            }

            .row-info {
                margin-top: 20px;

                h5 {
                    font-size: 24px;
                    font-family: $font1;
                    font-weight: 300;
                }

                span {
                    font-family: $font;
                    font-size: 13px;
                }
            }
        }
    }
}

.info {
    padding: 30px;
    min-height: 100px;

    .container {
        max-width: 1250px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .info-col {
            display: flex;
            margin: 0 auto;
            gap: 0 20px;
            align-items: center;

            &__icons {
                color: $color;
            }

            &__title {
                text-align: left;
                font-family: $font;

                h5 {
                    font-size: 20px;
                }

                h6 {
                    font-size: 15px;
                    opacity: 0.8;

                }

            }
        }

    }
}



@media screen and (max-width: 1024px) {
    .card__md1 , .card__md2{
        padding: 20px;
    }


    .card__md3 {
        .box-card {
            gap: 0 30px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .card__md3 {
        .box-card {
            padding: 20px;
            gap: 0 20px;
        }
    }

    .info {
        .container {
            gap: 0 30px;

            .info-col {
                gap: 0 10px;

                &__icons {
                    color: $color;
                }

                &__title {
                    text-align: left;
                    font-family: $font;

                    h5 {
                        font-size: 15px;
                    }

                    h6 {
                        font-size: 13px;
                        opacity: 0.8;

                    }

                }
            }

        }
    }
}


@media only screen and (max-width: 600px) {
    .hero-card {

        .card__md1,
        .card__md2,
        .card__md3 {
            position: relative;
            height: 100%;
            margin-bottom: 40px;

            .box-card {
                flex-direction: column;
                gap: 50px 0;
            }
        }
    }

    .crossbar {
        .container {
            flex-direction: column;

            .bar-left {
                margin-bottom: 30px;
            }
        }
    }

    .blog {
        .container {

            .row {
                padding: 30px;
                text-align: left;
                flex-direction: column;

                &-image {
                    img {

                        margin: 0;
                    }
                }

                &-text {
                    p {
                        max-width: 400px;

                    }
                }
            }
        }
    }

    .info {
        padding: 20px;
        .container {
            align-items: flex-start;
            flex-direction: column;
            .info-col{
                margin: 0 ;
                align-items: center;

                &__icons{
                    width:40px;
                }

            }
        }
    }

}