.hero {
    width: 100%;

    .content {

        justify-content: center;
        align-items: center;
        font-family: $font;
        max-width: 1250px;
        margin: 0 auto;



        .hero-video,
        .hero-module {
            display: flex;
            justify-content: center;
            height: auto;
            padding: 20px;
            gap: 0 20px;

            &__text {
                max-width: 490px;
                min-height: 689px;
                padding-left: 140px;

                h4 {
                    font-size: 28px;
                    font-weight: 400;
                    max-width: 300px;
                    margin-bottom: 50px;
                }

                p {
                    max-width: 350px;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 50px;
                    letter-spacing: 1px;
                    opacity: 0.9;
                }

                .btn {
                    button {
                        background-color: rgba(255, 255, 255, 0);
                        color: #000000;
                        border: 1px solid #000000;
                        padding: 5px;
                        opacity: 1;
                        font-weight: 400;

                        &:hover {
                            background-color: $color;
                            transition: all 0.5s ease;
                            color: #ffff;
                        }
                    }
                }

            }



        }

        .hero-module {
            margin-top: 70px;
            max-height: 740px;

            &__image {
                max-width: 455px;
                max-height: 650px;
                padding: 15px;

                &__filter {
                    background-color: $color;
                   max-width: 409px;
                    min-height: 650px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-7%, 5%);
                }

                img {
                    width: 455px;
                    height: 650px;
                    top: 50%;
                    left: 50%;
                    transform: translate(0%, -100%);
                }
            }

            &__text {
                min-height: 650px;
                padding-top: 120px;
                position: relative;
                padding-left: 10px;
            }
        }
    }

}


@media only screen and (max-width: 992px) {
    .hero {
        .content {
            .hero-video {
                .hero-video__text {
                    padding-left: 0px;
                }
            }
        }
    }
}

/*Mobile*/
@media only screen and (max-width: 600px) {
    .hero {
        .content {
            .hero-video {
                display: flex;
                flex-direction: column-reverse;
                padding:0px;
                &__videos{
                    video{
                        max-height:auto;
                        max-width:auto;
                    }
                }
                &__text{
                    align-items: center;
                    text-align: center;
                    margin: 0 auto;
                    max-width:auto;

                }
            }
            .hero-module{
                flex-direction: column;

                &__image{

                    &__filter{
                        max-width:auto;
                        min-height: 420px;

                    }
                    img{
                        max-width:auto;
                        height:auto;
                    }
                }
                &__text{
                    padding: 0px;
                    margin-top: -100px;
                    p{
                        padding:10px;
                    }
                }
            }
        }

    }
}