.slide {
    width: 100%;
    position: relative;

    .content {
        margin-top: 80px;
        max-width: 1350px;
        margin: 0 auto;
        padding-top: 80px;
    }

    .slide-image {
        max-width: 1015px;
        min-height: 600px;
        overflow: hidden;
    }

    .slide-title {
        position: absolute;
        top: 60%;
        left: 68%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: $font;
        text-align: left;
        width: 800px;

        h4 {
            font-size: 20.3px;
            font-weight: 500;
            letter-spacing: 3px;
        }

        h2 {

            font-size: 3.7em;
            font-weight: 400;
            letter-spacing: 4px;
        }

        .btn {
            margin-top: 40px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .slide {
        .content {
            .slide-image {
                padding: 0 40px 0 0 ;
            }
        }
        .slide-title{
            max-width: 600px;
        }
    }
}
@media only screen and (max-width: 992px) {
    .slide {
        .content {
            .slide-image {
                padding: 0 70px 0 0 ;
            }
        }
        .slide-title{
            max-width: 500px;

        h4 {
            font-size: 18px;

        }

        h2 {

            font-size: 3em;

        }

        }
    }
}


/*Mobile*/
@media only screen and (max-width: 600px) {
    .slide{
        .content{
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            margin-top: 100px;
            .slide-title{
                position: relative;
                max-width:300px;

                margin-left: -90px;
                h4{
                       font-size: 15px;
                }
                h2{
                    font-size:1.5em;


                }
                .btn{
                    margin-top:10px;
                }
            }
            .slide-image{
                max-width:auto;
                min-height: auto;

            }
        }
    }
}