header {
    width: 100%;
    position: relative;
    height: 42px;
    background-color: $color;

    .content {

        .title {
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            max-width: 700px;

            p {
                font-size: 15px;
                color: #ffff;
                font-family: $font;
                letter-spacing: 3px;
                text-align: center;
                padding: 10px;
                font-weight: 300;
            }
        }
    }
}

nav {
    width: 100%;

    .content {
        max-width: 1250px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 70px;
        flex: 1;
        text-align: center;
        align-items: center;

        .menu-md_1 {

            ul {
                display: flex;
                gap: 0 30px;
                padding: 0;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        font-size: 15px;
                        color: black;
                        font-family: $font;
                        flex: 1;
                    }
                }
            }

            .menu li label {
                display: none;
            }

            .menu-icon {
                display: none;
            }

            input[type="checkbox"] {
                display: none;
            }
        }

        .search-md_1 {
            display: flex;
            gap: 0 40px;

            .search {
                width: 220px;
                padding: 2px;
                border-bottom: 1px solid black;

                &:hover {
                    border: 2px solid rgb(5, 5, 5);

                }

            }

            .border {
                display: flex;
                padding: 0 0 0 5px;
                color: black;
                gap: 0 9px;
                min-height: 40px;

                align-items: center;
                flex-shrink: 0;

                .high {
                    ion-icon {
                        margin-top: 5px;
                        font-size: 20px;
                        opacity: 0.7;
                    }
                }

                input {
                    font-family: $font;
                    font-weight: 400;
                    max-width: 180px;
                }

            }
        }

        .login {
            display: flex;
            align-items: center;
            text-align: center;
            flex-shrink: 0;
            gap: 0 10px;

            ion-icon {
                font-size: 30px;
            }

            span {
                font-size: 16px;
                font-family: $font;
                opacity: 0.7;
            }

        }
    }
}

@media only screen and (max-width: 1200px) {
    nav {
        .content {
            padding: 20px;

            .menu-md_1 {
                .menu {
                    gap: 0 13px;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    nav {
        .content {
            .menu-md_1 {
                width: auto;
                flex-direction: row-reverse;

                .menu-icon {
                    display: block;
                    color: rgb(22, 22, 22);
                    font-size: 27px;
                }

                #show-menu:checked~.menu-icon i::before {
                    content: '\f00d';

                }

                .menu {
                    position: absolute;
                    display: block;
                    background: #fffffff7;
                    height: auto;
                    width: 100%;
                    top: 200px;
                    left: -100%;
                    margin-left: 0;
                    overflow-y: auto;
                    transition: all 1s ease;
                    z-index: 3;

                }

                #show-menu:checked~.menu {
                    left: 0;
                    /*Nằm sát bên trái*/
                }

                .menu li {
                    margin: 15px 20px;
                }

                .menu li .menu-link {
                    display: none;
                }

                .menu li a,
                .menu li label {
                    width: 100%;
                    line-height: 30px;
                    font-size: 18px;
                    font-weight: 800;
                    display: block;
                    margin: 0 auto;
                    padding: 10px;
                    cursor: pointer;
                    color: #000;
                    text-align: right;


                }



                .menu #show-item1:checked~ul,
                .menu #show-item2:checked~ul,
                .menu #show-item3:checked~ul,
                .menu #show-item4:checked~ul,
                .menu #show-item5:checked~ul {
                    max-height: 100vh;
                }

                .menu-child li a {
                    padding: 20px;
                    color: black;

                }
            }
        }

        .login,
        .search {
            display: none;

            .icon1,
            span {
                display: none;
            }
        }


    }

}


/*Mobile*/
@media only screen and (max-width: 600px) {
    header {
        .title {
            max-width:auto;
            p{

                font-size: 5px;
                max-width:400px;
            }
        }
    }
    nav {
        .content {
            #orderA {
                order: 3;
            }

            #orderB {
                order: 1;
            }

            #orderC {
                order: 2
            }
        }
    }


}

