@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;1,400;1,600&family=Cabin:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 100;
}

/* font-family */
/* Color */
/*  */
.wrapper {
  width: 100%;
  height: 850px;
  background-image: url(/app_images/2b314e6ad8d714894dc6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .container,
.wrapper .container-header {
  max-width: 1250px;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}
.wrapper .container header,
.wrapper .container-header header {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0 50px 0 0;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}
.wrapper .container header .logo,
.wrapper .container-header header .logo {
  line-height: 30px;
}
.wrapper .container header .logo h1,
.wrapper .container-header header .logo h1 {
  font-size: 40px;
}
.wrapper .container header .logo span,
.wrapper .container-header header .logo span {
  font-size: 13px;
  font-weight: 100;
  font-family: "Bitter", serif;
}
.wrapper .container header .info-item,
.wrapper .container-header header .info-item {
  display: flex;
  gap: 0 80px;
}
.wrapper .container header .info-item .item,
.wrapper .container-header header .info-item .item {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.wrapper .container header .info-item .item .item-icon,
.wrapper .container-header header .info-item .item .item-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  line-height: 50px;
  text-align: center;
}
.wrapper .container header .info-item .item .item-icon i,
.wrapper .container-header header .info-item .item .item-icon i {
  color: #41C379;
}
.wrapper .container header .info-item .item .item-text,
.wrapper .container-header header .info-item .item .item-text {
  font-family: "Roboto", sans-serif;
}
.wrapper .container header .info-item .item .item-text h5,
.wrapper .container-header header .info-item .item .item-text h5 {
  font-size: 16px;
  font-weight: 500;
}
.wrapper .container header .info-item .item .item-text span,
.wrapper .container-header header .info-item .item .item-text span {
  font-size: 17px;
}
.wrapper .container nav,
.wrapper .container-header nav {
  position: relative;
  display: flex;
  margin: 0 auto;
  height: 60px;
  padding: 30px 0 30px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0f0f86;
  border-radius: 0 0 15px 0;
  margin-top: 50px;
}
.wrapper .container nav .menu,
.wrapper .container-header nav .menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
  z-index: 1;
  gap: 0 30px;
}
.wrapper .container nav .menu .menu-item a,
.wrapper .container-header nav .menu .menu-item a {
  font-weight: 200;
  font-size: 15px;
  line-height: 10px;
  text-decoration: none;
  color: #fff;
}
.wrapper .container nav .menu .menu-item:not(:first-child),
.wrapper .container-header nav .menu .menu-item:not(:first-child) {
  margin-left: 25px;
}
.wrapper .container nav .menu .menu-link,
.wrapper .container-header nav .menu .menu-link {
  text-decoration: none;
  color: white;
}
.wrapper .container nav .menu .menu-item.has-child,
.wrapper .container-header nav .menu .menu-item.has-child {
  position: relative;
}
.wrapper .container nav .menu .menu-item.has-child:hover .menu-child,
.wrapper .container-header nav .menu .menu-item.has-child:hover .menu-child {
  opacity: 1;
  visibility: visible;
}
.wrapper .container nav .menu .menu-child,
.wrapper .container-header nav .menu .menu-child {
  --top-space: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.2s ease;
  list-style: none;
  transform: translateY(var(--top-space));
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.wrapper .container nav .menu .menu-child:before,
.wrapper .container-header nav .menu .menu-child:before {
  content: "";
  height: var(--top-space);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 0;
  transform: translateY(-100%);
}
.wrapper .container nav .menu .menu-child,
.wrapper .container-header nav .menu .menu-child {
  border: 0px solid rgba(253, 253, 253, 0.692);
  min-width: 200px;
  background-color: #41C379;
  padding: 0;
}
.wrapper .container nav .menu .menu-child-link,
.wrapper .container-header nav .menu .menu-child-link {
  display: block;
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  color: white;
}
.wrapper .container nav .menu li label,
.wrapper .container-header nav .menu li label {
  display: none;
}
.wrapper .container nav .menu li a:hover,
.wrapper .container nav .menu li label:hover,
.wrapper .container-header nav .menu li a:hover,
.wrapper .container-header nav .menu li label:hover {
  color: coral;
  transition: all 0.3s;
}
.wrapper .container nav .menu-search .search-icon,
.wrapper .container-header nav .menu-search .search-icon {
  padding: 0;
  width: 55px;
  background-color: white;
  height: 60px;
  border-radius: 15px 0 15px 0;
}
.wrapper .container nav .menu-search .search-icon ion-icon,
.wrapper .container-header nav .menu-search .search-icon ion-icon {
  position: relative;
  font-size: 30px;
  color: #41C379;
  margin-left: 15px;
  margin-top: 15px;
}
.wrapper .container .container-title,
.wrapper .container-header .container-title {
  margin-top: 200px;
}
.wrapper .container .container-title .title-text,
.wrapper .container-header .container-title .title-text {
  color: white;
  letter-spacing: 2px;
}
.wrapper .container .container-title .title-text h4,
.wrapper .container-header .container-title .title-text h4 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.wrapper .container .container-title .title-text h2,
.wrapper .container-header .container-title .title-text h2 {
  font-size: 3.3em;
  font-family: "Bitter", serif;
  font-weight: 500;
  margin-bottom: 20px;
}
.wrapper .container .container-title .title-text h3,
.wrapper .container-header .container-title .title-text h3 {
  max-width: 650px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
  letter-spacing: 0px;
}
.wrapper .container .container-title .title-text .btn button,
.wrapper .container-header .container-title .title-text .btn button {
  width: 170px;
  height: 50px;
  padding: 10px;
  background-color: #41C379;
  margin-top: 20px;
  cursor: pointer;
}
.wrapper .container .container-title .title-text .btn button span,
.wrapper .container-header .container-title .title-text .btn button span {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
}
.wrapper .container .container-title .title-text .btn button:hover,
.wrapper .container-header .container-title .title-text .btn button:hover {
  border: 1px solid #a0a0a0;
  background-color: rgba(238, 238, 238, 0);
  transition: all 1s ease;
}

/*# sourceMappingURL=app.css.map */
