@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;1,400;1,600&family=Cabin:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: 100;
}

/* font-family */
/* Color */
/*  */
.wrapper {
  width: 100%;
  height: 850px;
  background-image: url(../app_images/2b314e6ad8d714894dc6.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}
.wrapper .container {
  background-color: rgba(0, 0, 0, 0.55);
  height: 850px;
}
.wrapper .container-header {
  max-width: 1250px;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}

header {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0 50px 0 0;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}
header .info-item {
  display: flex;
  gap: 0 20px;
}
header .info-item .item {
  width: 250px;
  display: flex;
  align-items: center;
  gap: 0 20px;
}
header .info-item .item .item-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  line-height: 50px;
  text-align: center;
}
header .info-item .item .item-icon i {
  color: #41C379;
}
header .info-item .item .item-text {
  font-family: "Roboto", sans-serif;
}
header .info-item .item .item-text h5 {
  font-size: 16px;
  font-weight: 500;
}
header .info-item .item .item-text h6 {
  font-size: 17px;
}

nav {
  position: relative;
  display: flex;
  margin: 0 auto;
  height: 60px;
  padding: 30px 0 30px 30px;
  justify-content: space-between;
  align-items: center;
  background-color: #0f0f0f86;
  border-radius: 0 0 15px 0;
  margin-top: 50px;
}
nav .menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
  z-index: 1;
  gap: 0 30px;
}
nav .menu .menu-item a {
  font-weight: 400;
  font-size: 15px;
  line-height: 10px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #fff;
  flex: 1;
}
nav .menu .menu-item:not(:first-child) {
  margin-left: 25px;
}
nav .menu .menu-link {
  text-decoration: none;
  color: white;
}
nav .menu .menu-item.has-child {
  position: relative;
}
nav .menu .menu-item.has-child:hover .menu-child {
  opacity: 1;
  visibility: visible;
}
nav .menu .menu-child {
  --top-space: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.2s ease;
  list-style: none;
  transform: translateY(var(--top-space));
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
nav .menu .menu-child:before {
  content: "";
  height: var(--top-space);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 0;
  transform: translateY(-100%);
}
nav .menu .menu-child {
  border: 0px solid rgba(253, 253, 253, 0.692);
  min-width: 200px;
  background-color: #41C379;
  padding: 0;
}
nav .menu .menu-child-link {
  display: block;
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  color: white;
}
nav li label {
  display: none;
}
nav li a:hover,
nav li label:hover {
  color: coral;
  transition: all 0.3s;
}
nav .menu-icon {
  display: none;
}
nav input[type=checkbox] {
  display: none;
}
nav .menu-search .search-icon {
  padding: 0;
  width: 55px;
  background-color: white;
  height: 60px;
  border-radius: 15px 0 15px 0;
}
nav .menu-search .search-icon ion-icon {
  position: relative;
  font-size: 30px;
  color: #41C379;
  margin-left: 15px;
  margin-top: 15px;
}

.container-title {
  margin-top: 200px;
}
.container-title .title-text {
  color: white;
  letter-spacing: 2px;
}
.container-title .title-text h4 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container-title .title-text h2 {
  font-size: 3.3em;
  font-family: "Bitter", serif;
  font-weight: 500;
  margin-bottom: 20px;
}
.container-title .title-text h3 {
  max-width: 650px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
  letter-spacing: 0px;
}

@media screen and (max-width: 1024px) {
  .wrapper .logo h1 {
    font-size: 2em;
  }
  .wrapper .logo span {
    font-size: 10px;
  }
  .wrapper header {
    padding: 0px;
  }
  .wrapper header .info-item {
    position: relative;
    gap: 0;
  }
  .wrapper header .info-item .item {
    max-width: 170px;
    margin-left: 20px;
  }
  .wrapper header .info-item .item-text {
    width: 99px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .wrapper header .info-item .item-text h5 {
    max-width: 80px;
    font-size: 14px;
    height: 40px;
  }
  .wrapper header .info-item .item-text h6 {
    font-size: 10px;
    display: flex;
    align-items: flex-end;
    flex: 1;
  }
  .wrapper nav {
    width: auto;
  }
  .wrapper nav .menu-icon {
    display: block;
    color: white;
    font-size: 25px;
  }
  .wrapper nav #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  .wrapper nav .menu {
    position: absolute;
    display: block;
    background: #fffffff7;
    height: auto;
    width: 50%;
    top: 90px;
    left: -100vh;
    margin-left: 0;
    overflow-y: auto;
    transition: all 1s ease;
    z-index: 3;
    border-radius: 20px;
  }
  .wrapper nav #show-menu:checked ~ .menu {
    left: 0;
    /*Nằm sát bên trái*/
  }
  .wrapper nav .menu li {
    margin: 15px 20px;
  }
  .wrapper nav .menu li a,
.wrapper nav .menu li label {
    width: 100%;
    line-height: 30px;
    font-size: 18px;
    font-weight: 800;
    display: block;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    color: #000;
  }
  .wrapper nav .menu li .menu-link {
    display: none;
  }
  .wrapper nav .menu ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
    z-index: 3;
  }
  .wrapper nav .menu #show-item1:checked ~ ul,
.wrapper nav .menu #show-item2:checked ~ ul,
.wrapper nav .menu #show-item3:checked ~ ul,
.wrapper nav .menu #show-item4:checked ~ ul,
.wrapper nav .menu #show-item5:checked ~ ul,
.wrapper nav .menu #show-item6:checked ~ ul,
.wrapper nav .menu #show-item7:checked ~ ul {
    max-height: 100vh;
  }
  .wrapper nav .menu-child li a {
    padding: 20px;
    color: black;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper, .container {
    min-height: 1000px;
  }

  .wrapper header {
    display: inline-block;
  }
  .wrapper header .info-item {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px 0;
  }
  .wrapper header .info-item .item {
    margin: 0 auto;
    max-width: 100%;
  }
  .wrapper header .info-item .item-text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .wrapper header .info-item .item-text h5 {
    max-width: 100%;
    height: auto;
  }
  .wrapper header .info-item .item-icon {
    width: 70px;
    border-radius: 60px;
  }

  .container-title .title-text h4 {
    font-size: 14px;
  }
  .container-title .title-text h2 {
    font-size: 2em;
  }
}
.logo {
  line-height: 30px;
}
.logo h1 {
  font-size: 40px;
}
.logo span {
  font-size: 13px;
  font-weight: 100;
  font-family: "Bitter", serif;
}

.btn button {
  width: 170px;
  height: 50px;
  padding: 10px;
  background-color: #41C379;
  margin-top: 20px;
  cursor: pointer;
}
.btn button span {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: white;
}
.btn button:hover {
  border: 1px solid #a0a0a0;
  background-color: rgba(238, 238, 238, 0);
  transition: all 1s ease;
}

.info-btn input {
  height: 40px;
  margin-bottom: 20px;
  padding: 0 20px;
}
.info-btn .btn button {
  width: 100px;
  height: 40px;
  color: white;
  font-size: 15px;
}

.container-reuse-title {
  max-width: 500px;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 40px;
}
.container-reuse-title h6 {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}
.container-reuse-title h3 {
  font-size: 23px;
}

.hero {
  position: relative;
  margin-top: -70px;
}

.hero-box_item {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 70px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.div1 {
  grid-area: 1/1/2/2;
}

.div2 {
  grid-area: 1/2/2/3;
}

.div3 {
  grid-area: 1/3/2/4;
}

.div4 {
  grid-area: 2/1/3/2;
}

.div5 {
  grid-area: 2/2/3/3;
}

.div6 {
  grid-area: 2/3/3/4;
}

.col_item-image img {
  width: 350px;
  height: 230px;
}
.col_item-text {
  margin-top: 30px;
}
.col_item-text h4 {
  font-size: 20px;
  font-family: "Bitter", serif;
  font-weight: 800;
  opacity: 0.9;
}
.col_item-text p {
  max-width: 350px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  opacity: 0.9;
}

@media screen and (max-width: 1024px) {
  .hero-box_item {
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    padding: 20px;
  }

  .col_item-image img {
    width: 350px;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .hero-box_item {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    padding: 20px;
  }

  .col_item-image img {
    width: 350px;
    height: 160px;
  }
}
@media only screen and (max-width: 600px) {
  .hero-box_item {
    width: 100%;
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
  }
  .hero-box_item .col_item {
    width: 100%;
    height: auto !important;
    margin-bottom: 55px;
  }

  .col_item-image img {
    width: 100%;
    height: 260px;
  }
}
.boxes3 {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 80px;
  background-color: #F4F4F4;
}
.boxes3 .container {
  max-width: 1250px;
  position: relative;
}

.container-reuse {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.container-reuse .container-list {
  display: flex;
  margin-top: 50px;
}
.container-reuse .container-list_item {
  width: 330px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.container-reuse .container-list_item .item_icon i {
  color: #41C379;
  margin-bottom: 30px;
}
.container-reuse .container-list_item .item_text h4 {
  font-size: 20px;
  font-family: "Bitter", serif;
}
.container-reuse .container-list_item .item_text p {
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}
.container-reuse .container-list_item .btn button {
  position: relative;
  width: 130px;
}
.container-reuse .container-list_item .btn button span {
  font-size: 15px;
  font-weight: 400;
}
.container-reuse .container-list_item .btn button:hover span {
  color: #181818;
}

@media screen and (max-width: 1024px) {
  .container-list {
    padding: 20px;
  }

  .container-list_item {
    max-width: 250px;
  }
}
@media screen and (max-width: 600px) {
  .boxes3 {
    height: auto;
  }
  .boxes3 .container-reuse .container-list {
    width: 100%;
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .boxes3 .container-reuse .container-list_item {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
.boxes4 {
  position: relative;
  height: 400px;
}

.row {
  width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 0 30px;
  margin-top: 60px;
}
.row hr {
  height: 180px;
  border: 1px solid #ddd;
}
.row .item {
  width: 200px;
  cursor: pointer;
}
.row .item i {
  font-size: 4rem;
  color: #a7a7a7;
}
.row .item i:hover {
  color: #555454;
  transition: all 1s ease;
}
.row .item .counter-box {
  margin-top: 20px;
}
.row .item .counter-box span {
  font-size: 40px;
  color: #41C379;
}
.row .item .counter-box p {
  font-size: 15px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.box_child_5 {
  margin-top: 90px;
  height: 600px;
  background-color: #41C379;
  color: white;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 0 40px;
  margin-top: 70px;
}
.form-group .col-md {
  width: 500px;
}
.form-group .col-md-img {
  margin-bottom: 30px;
}
.form-group .col-md-img img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin: 0 auto;
}
.form-group .col-md-text {
  height: auto;
  padding: 20px;
  background-color: white;
  color: black;
}
.form-group .col-md-title {
  margin-top: 30px;
  line-height: 20px;
}
.form-group .col-md-title h4 {
  font-size: 30px;
}
.form-group .col-md-title span {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

/*  */
.box_child_6 {
  position: relative;
  height: 600px;
}
.box_child_6 .container .btn {
  margin-top: 50px;
  justify-content: center;
  text-align: center;
}

.from-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
  margin-top: 80px;
}
.from-blog .article {
  width: 550px;
  display: flex;
  gap: 0 30px;
}
.from-blog .article-time {
  width: 60px;
  height: 80px;
  background-color: #F4F4F4;
  text-align: center;
}
.from-blog .article-time_1, .from-blog .article-time_2 {
  padding: 5px;
}
.from-blog .article-time h4 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  opacity: 0.5;
}
.from-blog .article-time hr {
  margin-left: 0px;
  border: 1px solid #868585;
  opacity: 0.5;
}
.from-blog .article-time h6 {
  padding: 10px;
}
.from-blog .article-text_header {
  font-size: 11px;
  color: #41C379;
}
.from-blog .article-text_header ul {
  display: flex;
  list-style: none;
  gap: 0 5px;
  padding: 0;
}
.from-blog .article-text_header ul i {
  color: black;
}
.from-blog .article-text_footer p {
  font-size: 14px;
  padding: 10px 0;
  max-width: 450px;
}
.from-blog .article-text_footer span {
  line-height: 50px;
  color: #41C379;
  font-weight: 600;
}

@media screen and (max-width: 1024px) {
  .row {
    width: 100%;
  }

  .form-group,
.from-blog {
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  .row,
.form-group,
.from-blog {
    max-width: auto;
    flex-direction: column;
    padding: 20px;
  }
  .row hr,
.form-group hr,
.from-blog hr {
    height: 0;
    width: 100%;
    margin: 40px;
  }

  .box_child_5,
.box_child_6 {
    height: auto;
  }

  .col-md,
.article {
    max-width: 100%;
    margin-bottom: 80px;
  }

  .article-time hr {
    margin: 0;
  }

  .article-text_header hr {
    width: 0;
    margin: 0;
    height: 15px;
  }
}
.footer {
  position: relative;
  background-image: url(../app_images/2b314e6ad8d714894dc6.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}
.footer .footer-filter {
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  height: 100%;
}

.footer-header {
  width: 100%;
  height: 270px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 70px;
}
.footer-header .icon {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  margin-top: 30px;
}
.footer-header .icon .icon-wrap {
  width: 35px;
  height: 35px;
  background-color: #282E39;
  text-align: center;
  line-height: 35px;
}
.footer-header .text p {
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  opacity: 0.9;
}

.footer-col {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  justify-content: center;
  padding-top: 90px;
  height: 470px;
}

.col_1 {
  grid-area: 1/1/2/2;
}

.col_2 {
  grid-area: 1/2/2/3;
}

.col_3 {
  grid-area: 1/3/2/4;
}

.col_4 {
  grid-area: 1/4/2/5;
}

.footer-col .footer-title h4 {
  font-size: 20px;
  color: white;
  font-weight: 100;
  opacity: 0.9;
  margin: 0 0 33px 0;
}
.footer-col .text p {
  font-size: 16px;
  color: #929292;
  font-weight: 1 0;
  opacity: 0.8;
  margin: 20px 0;
}
.footer-col .col_2 .text p,
.footer-col .footer-list h5 {
  font-size: 15px;
  color: #41C379;
  font-weight: 100;
  margin: 15px 0;
  opacity: 1;
}
.footer-col hr {
  border: 1px solid #b3b3b3;
  opacity: 0.1;
  margin-top: 5px;
}
.footer-col .col_2 span {
  color: #d6d6d6;
  font-size: 13px;
  opacity: 0.5;
}

.footer-md {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 40px;
}

.md_1 {
  grid-area: 1/1/2/2;
}

.md_2 {
  grid-area: 1/2/2/3;
}

.md_3 {
  grid-area: 1/3/2/4;
}

.md_4 {
  grid-area: 2/1/3/2;
}

.md_5 {
  grid-area: 2/2/3/3;
}

.md_6 {
  grid-area: 2/3/3/4;
}

.md_7 {
  grid-area: 3/1/4/2;
}

.md_8 {
  grid-area: 3/2/4/3;
}

.md_9 {
  grid-area: 3/3/4/4;
}

@media screen and (max-width: 1024px) {
  .footer-col {
    grid-template-columns: repeat(4, 170px);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    padding: 20px;
    margin-top: 40px;
  }
  .footer-col .info-btn input {
    width: 170px;
  }
}
@media screen and (max-width: 600px) {
  .footer-filter .footer-col {
    display: inline-block;
    height: auto;
  }
  .footer-filter .footer-col .box {
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=app.css.map */
