.footer {
    position: relative;
    height: 400px;
    background-image: url(../app_images/2b314e6ad8d714894dc6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 30px ;
    .container {

        .parent {
            display: grid;
            grid-template-columns: repeat(4, 300px);
            grid-template-rows: 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 0px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            text-align: left;
        }

        .div1 {
            grid-area: 1 / 1 / 2 / 2;
        }

        .div2 {
            grid-area: 1 / 2 / 2 / 3;
        }

        .div3 {
            grid-area: 1 / 3 / 2 / 4;
        }

        .div4 {
            grid-area: 1 / 4 / 2 / 5;
        }
    }



}