.slides {
    position: relative;
    min-height: 600px;
    background-image: url(../app_images/2b314e6ad8d714894dc6.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;

    .fa-filter {
        background-color: rgba(0, 0, 0, .55);
        min-height: 600px;
        justify-content: center;
        align-items: center;

    }

}
.box {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    color: rgb(223, 222, 222);
    margin-top: 150px;

    .slide-text {
        line-height: 40px;

        h4 {
            font-size: 20px;
            font-family: $font;
            font-weight: 200;
            letter-spacing: 5px;
        }

        h3 {
            font-size: 3em;
            font-family: $font1;
            font-weight: 300;
            margin: 30px 0;
        }
        p{
            font-size: 15px;
            font-family: $font;
            font-weight: 200;
        }

    }
      .btn{
          button{
            margin:40px 20px 0 0 ;
          }
      }
}

@media only screen and (max-width: 600px) {

        .box{

            .slide-text{
                h4{
                    font-size: 17px;
                    line-height: 20px;

                }
                h3{
                    font-size: 2em;
                }
                p{
                    max-width:300px;
                    font-size: 14px;
                    line-height:20px;
                }
            }
            .btn{
                button{
                    margin-top: 20px;
                }
            }
        }

}
