.wrapper {

    .container {
        max-width: 100%;
        margin: 0 auto;
        justify-content: center;

    }



}

header {
    background-color: #F4F4F4;
    min-height: 60px;
    justify-content: center;
    align-items: center;

    .header-content {
        max-width: 1250px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 20px;

        .header-left,
        .info-sdt,
        .info-email,
        .header-right ul,
        li,
        a {
            display: flex;
            gap: 0 30px;
            text-decoration: none;
            color: $color;

        }

        .info-sdt,
        .info-email {
            gap: 0 10px;
            color: black;

            h6 {
                font-size: 12px;
                font-family: $font1;
                font-weight: 400;

            }
        }


    }


}
nav {
    height: 90px;
    justify-content: center;
    align-items: center;
    background-color: $color;
    border-bottom: 3px solid rgba(184, 184, 184, 0.767);

    .container-menu {
        display: flex;
        max-width: 1250px;
        margin: 0 auto;
        height: 90px;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
    }

}

.logo h1 a {
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 3px;
    color: rgb(255, 255, 255);
}



.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 30px;
    z-index: 1;
}

.menu-item .menu-link {
    font-weight: 200;
    font-size: 15px;
    line-height: 10px;
    color: rgb(255, 255, 255);
    flex: 1;
    padding: 36px 10px;

}




.menu-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-item.has-child {
    position: relative;
}

.menu-item.has-child:hover .menu-child {
    opacity: 1;
    visibility: visible;
}

.menu-child {
    --top-space: 34px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.2s ease;
    list-style: none;
    transform: translateY(var(--top-space));
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    padding: 0 20px;

}

.menu-child:before {
    content: "";
    height: var(--top-space);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    opacity: 0;
    transform: translateY(-100%);
}

.menu-child {
    border: 0px solid rgb(255, 255, 255);
    min-width: 200px;
    background-color: $color1;
}

.menu-child-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    color: rgb(255, 255, 255);
}

.menu li label {
    display: none;
}

.menu li a:hover,
.menu li label:hover {
    transition: all .3s;
}

.menu .filter-menu:hover {
    background-color: #1D8B94;
    border-bottom: 3px solid #fff;
}

.wrapper .menu-icon {
    display: none;
}

.wrapper input[type="checkbox"] {
    display: none;
}



/*  */

@media screen and (max-width: 992px) {


    nav {
        .container-menu {
            width: auto;

            flex-direction: row-reverse;

            .menu-icon {
                display: block;
                color: rgb(224, 224, 224);
                font-size: 25px;
            }

            #show-menu:checked~.menu-icon i::before {
                content: '\f00d';

            }

            .menu {
                position: absolute;
                display: block;
                background: #fffffff7;
                height: auto;
                width: 100%;
                top: 150px;
                right: 100vh;
                margin-left: 0;
                overflow-y: auto;
                transition: all 1s ease;
                z-index: 3;
                border-radius: 20px;

            }

            #show-menu:checked~.menu {
                right: 0;
                /*Nằm sát bên trái*/



            }

            .menu li {
                margin: 15px 20px;
            }

            .menu li a,
            .menu li label {
                width: 100%;
                line-height: 30px;
                font-size: 18px;
                font-weight: 800;
                display: block;
                margin: 0 auto;
                padding: 10px;
                cursor: pointer;
                color: #000;
                text-align: right;


            }

            .menu li .menu-link {
                display: none;
            }

            .menu ul {
                position: static;
                opacity: 1;
                visibility: visible;
                background: none;
                max-height: 0px;
                overflow: hidden;
                z-index: 3;
            }

            .menu #show-item1:checked~ul,
            .menu #show-item2:checked~ul,
            .menu #show-item3:checked~ul,
            .menu #show-item4:checked~ul,
            .menu #show-item5:checked~ul,
            .menu #show-item6:checked~ul,
            .menu #show-item7:checked~ul {
                max-height: 100vh;
            }

            .menu-child li a {
                padding: 20px;
                color: black;

            }
        }

    }



}

@media only screen and (max-width: 600px) {

    header {
        .header-content {
            display: inline-block;
            flex-direction: column;

            .header-left {
                position: relative;
                margin: 0 auto;
                flex-direction: column;
            }
            .header-right ul{
                padding: 0;
            }
            .info-sdt , .info-email , ul{
                margin-bottom: 10px;
            }

        }
    }
    nav{
        .container-menu
        {

            .menu{
                top: 210px;
            }
        }
        }
}