@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Font */
/* color */
.wrapper .container {
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.wrapper header {
  background-color: #F4F4F4;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.wrapper header .header-content {
  max-width: 1250px;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}
.wrapper header .header-content .header-left,
.wrapper header .header-content .info-sdt,
.wrapper header .header-content .info-email,
.wrapper header .header-content .header-right ul,
.wrapper header .header-content li, .wrapper header .header-content a {
  display: flex;
  gap: 0 30px;
  text-decoration: none;
  color: #53D3DE;
}
.wrapper header .header-content .info-sdt, .wrapper header .header-content .info-email {
  gap: 0 10px;
  color: black;
}
.wrapper header .header-content .info-sdt h6, .wrapper header .header-content .info-email h6 {
  font-size: 12px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

nav {
  height: 90px;
  justify-content: center;
  align-items: center;
  background-color: #53D3DE;
}
nav .container-menu {
  display: flex;
  max-width: 1250px;
  margin: 0 auto;
  height: 90px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.logo h1 a {
  font-size: 40px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 3px;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 20px;
  z-index: 1;
}

.menu-item a span {
  font-weight: 200;
  font-size: 15px;
  line-height: 10px;
  color: white;
  flex: 1;
}

.menu-item:not(:first-child) {
  margin-left: 25px;
}

.menu-link {
  text-decoration: none;
  color: white;
}

.menu-item.has-child {
  position: relative;
}

.menu-item.has-child:hover .menu-child {
  opacity: 1;
  visibility: visible;
}

.menu-child {
  --top-space: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.2s ease;
  list-style: none;
  transform: translateY(var(--top-space));
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  padding: 0 20px;
}

.menu-child:before {
  content: "";
  height: var(--top-space);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 0;
  transform: translateY(-100%);
}

.menu-child {
  border: 0px solid white;
  min-width: 200px;
  background-color: #1D8B94;
}

.menu-child-link {
  display: block;
  padding: 15px;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  color: white;
}

.menu li label {
  display: none;
}

.menu li a:hover,
.menu li label:hover {
  color: coral;
  transition: all 0.3s;
}

.wrapper .menu-icon {
  display: none;
}

.wrapper input[type=checkbox] {
  display: none;
}

.slides {
  position: relative;
  height: 600px;
  background-image: url(../app_images/2b314e6ad8d714894dc6.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}
.slides .fa-filter {
  background-color: rgba(0, 0, 0, 0.55);
  height: 600px;
  justify-content: center;
  align-items: center;
}
.slides .fa-filter .box {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
  color: #dfdede;
  margin-top: 150px;
}
.slides .fa-filter .box .slide-text {
  line-height: 40px;
}
.slides .fa-filter .box .slide-text h4 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 5px;
}
.slides .fa-filter .box .slide-text h3 {
  font-size: 3em;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  margin: 30px 0;
}
.slides .fa-filter .box .slide-text p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
.slides .fa-filter .box .btn button {
  margin: 40px 20px 0 0;
}

.hero-card {
  position: relative;
  height: 634px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F4F4F4;
}
.hero-card .container-card {
  max-width: 1250px;
  padding: 20px;
  margin: 0 auto;
}
.hero-card .container-card .text-top {
  margin-top: 50px;
}
.hero-card .container-card .text-top h4 {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.hero-card .container-card .text-top p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.hero-card .container-card .box-card {
  display: flex;
  margin-top: 50px;
  gap: 0 30px;
}
.hero-card .container-card .box-card .card {
  margin: 0 auto;
  width: 350px;
  height: 400px;
  background-color: white;
}
.hero-card .container-card .box-card .card:hover {
  border: 1px solid #53D3DE;
}
.hero-card .container-card .box-card .card-col {
  padding: 15px;
}
.hero-card .container-card .box-card .card-col__icon {
  font-size: 5rem;
}
.hero-card .container-card .box-card .card-col__icon i {
  color: #53D3DE;
}
.hero-card .container-card .box-card .card-col .icon-filter__a i {
  color: #B12E52;
}
.hero-card .container-card .box-card .card-col .icon-filter__b i {
  color: #00B900;
}
.hero-card .container-card .box-card .card-col .icon-filter__c i {
  color: #359AFF;
}
.hero-card .container-card .box-card .card-col__text h5 {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}
.hero-card .container-card .box-card .card-col__text p {
  margin-top: 30px;
  font-size: 15px;
}
.hero-card .container-card .box-card .card-col__money h6 {
  font-size: 50px;
  color: #1D8B94;
}
.hero-card .container-card .box-card .card-col__money h6 sup {
  font-size: 20px;
  color: black;
  font-weight: 300;
}
.hero-card .container-card .box-card .card-col__money h6 span {
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  opacity: 0.8;
  color: black;
}
.hero-card .container-card .box-card .card .btn {
  margin-top: 20px;
}
.hero-card .container-card .box-card .card .btn button {
  width: 100px;
}
.hero-card .container-card .box-card .card .btn .btn-filter__1:hover {
  color: black;
  background-color: white;
  border: 1px solid #53D3DE;
}

/*  crossbar*/
.crossbar {
  width: 100%;
  position: relative;
  height: 105px;
  background-color: #1D8B94;
  margin-top: 40px;
}
.crossbar .container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.crossbar .container .bar-left h5 {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #fff;
}
.crossbar .container .bar-right .btn button {
  width: 230px;
  font-size: 15px;
}

.card__md2 .box-card .card {
  padding: 20px;
  position: relative;
  border: 1px solid #949494;
}
.card__md2 .box-card .card:hover {
  background-color: #eeeeeea1;
}
.card__md2 .box-card .card .card-col__text {
  flex: 1;
}
.card__md2 .box-card .card .card-col__text p {
  font-size: 16px;
  min-height: 70px;
  flex: 1;
  flex-shrink: 0;
}
.card__md2 .box-card .card .btn button {
  min-width: 130px;
}

.card__md3 {
  max-width: 100%;
  height: 660px;
  background-color: #F4F4F4;
}
.card__md3 .text-top {
  padding: 70px 0 70px;
}
.card__md3 .box-card {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 0 50px;
}
.card__md3 .box-card .card {
  width: 300px;
}
.card__md3 .box-card .card-image {
  margin-bottom: 30px;
  position: relative;
}
.card__md3 .box-card .card-image:hover .filter__hover {
  display: block;
}
.card__md3 .box-card .card-image img {
  display: block;
  width: 340px;
  cursor: pointer;
}
.card__md3 .box-card .card-image .filter__hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #ebebeb34;
  display: none;
  cursor: pointer;
}
.card__md3 .box-card .card-image .filter__hover ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 45px;
  color: #53D3DE;
}
.card__md3 .box-card .card-title {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
.card__md3 .btn {
  margin-top: 50px;
}
.card__md3 .btn button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 1px solid black;
}

.blog {
  width: 100%;
  height: 400px;
  background-image: url(../app_images/2b314e6ad8d714894dc6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog .container {
  background-color: rgba(0, 0, 0, 0.55);
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.blog .container .row-image {
  padding-top: 50px;
}
.blog .container .row-image img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 0 auto;
}
.blog .container .row-text {
  color: #fff;
}
.blog .container .row-text p {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.blog .container .row-text .row-info {
  margin-top: 20px;
}
.blog .container .row-text .row-info h5 {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}
.blog .container .row-text .row-info span {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.info {
  padding: 30px;
}
.info .container {
  max-width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.info .container .info-col {
  display: flex;
  margin: 0 auto;
  gap: 0 20px;
  align-items: center;
}
.info .container .info-col__icons {
  color: #53D3DE;
}
.info .container .info-col__title {
  text-align: left;
}

.footer {
  position: relative;
  height: 400px;
  background-image: url(../app_images/2b314e6ad8d714894dc6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 30px;
}
.footer .container .parent {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: left;
}
.footer .container .div1 {
  grid-area: 1/1/2/2;
}
.footer .container .div2 {
  grid-area: 1/2/2/3;
}
.footer .container .div3 {
  grid-area: 1/3/2/4;
}
.footer .container .div4 {
  grid-area: 1/4/2/5;
}

.btn button {
  width: 180px;
  height: 45px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.7s ease;
}
.btn .btn-filter__1 {
  background-color: #53D3DE;
}
.btn .btn-filter__1:hover {
  background-color: rgba(206, 206, 206, 0);
  border: 1px solid white;
}
.btn .btn-filter__2 {
  background-color: rgba(206, 206, 206, 0);
  border: 1px solid white;
}
.btn .btn-filter__2:hover {
  background-color: #53D3DE;
  border: 0;
}

/*# sourceMappingURL=app.css.map */
