.card {
    width: 100%;
    height: auto;
    padding-bottom: 140px;
    position: relative;
    background-color: #F6F4F0;

    .content {

        .card-list {
            display: flex;
            gap: 0 54px;
            position: relative;
            .card-box__image {
                width: 260px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                transition: transform .6s;
                .filter {
                    background: linear-gradient(358.99deg, rgba(237, 35, 35, 0.7) -3.62%, rgba(245, 10, 10, 0) 117.08%);
                    ;
                    height: 350px;
                }
                &:hover {
                    transform: scale(1.1);

                    .filter {
                        background: none;
                    }
                }
            }
            .card-box__image1 {
                background-image: url(../app_images/c837a6_d5b3b2009d894fa2932bc20684b2a93d_mv2.jpg);
            }

            .card-box__image2 {
                background-image: url(../app_images/c837a6_bf93fe6ee32a41b2b69211460f928b15_mv2.jpg);
            }

            .card-box__image3 {
                background-image: url(../app_images/c837a6_f49b2d5464854cc18b19c7e183d05e2c_mv2.jpg);

            }

            &-item {
                max-width: 260px;
                height: 350px;
                border-radius: 20px;
                margin-top: -140px;
                cursor: pointer;
                overflow: hidden;
                position: relative;

                &:hover {
                    .card-image__text {
                        display: none;
                        transition: all 1s ease;
                    }
                }
            }

            .card-list-image {
                .card-image__text {
                    position: absolute;
                    top: 80%;
                    left: 40%;
                    transform: translate(-50%, -50%);
                    text-align: left;
                    font-family: $font;
                    color: #ffff;
                    width: 140px;

                    h5 {
                        font-size: 22px;
                        font-weight: 500;
                    }
                }
            }

            &-item__text {
                position: relative;
                max-width: 260px;
                height: 345px;
                border-radius: 20px;

                background: linear-gradient(360deg, #C06815 29.95%, #DE9C32 64.26%, #F1BC44 87.65%, #F8D54F 98.2%);

                .card-list-text {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.7;
                    transition: transform .6s;

                    h5 {

                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        font-size: 23px;
                        font-family: $font;
                        font-weight: 500;
                        color: #000000;

                        svg {
                            width: 40px;
                            height: 70px;
                            margin: 0 auto;

                        }

                    }

                    &:hover {
                        transform: scale(1.1);
                    }

                }

                &:hover {
                    opacity: 1;
                    background: #FAF76F !important;

                }
            }

        }
    }
}

.article {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $font;
}

.article-title {
    h5 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__item {
        h3 {
            font-family: $fontserif;
            font-size: 3.4em;
            max-width: 600px;
            margin: 0 auto;
        }

        p {
            max-width: 790px;
            font-size: 20px;
            margin: 0 auto;
            padding-top: 40px;
        }
    }
}

.article-image {
    &__A {
        img {
            width: 695px;
            height: 390px;
            border-radius: 20px;
            margin: 0 auto;

        }
    }

    &__B {
        width: 500px;
        margin-top: -200px;

        img {
            margin: 0 auto;
            text-align: left;
        }
    }
}

.hero-blog {
    padding-top: 140px;
    text-align: center;
    margin: 0 auto;

    .article-title__item {
        p {
            font-family: $font;

        }
    }
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url(../app_images/c837a6_1cf50738638a41d680ed4dc3db5e5492_mv2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 4 / 3;

}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 3 / 1 / 4 / 2;
}

.div5 {
    grid-area: 3 / 3 / 4 / 4;

    img {
        width: 278px;
        height: auto;
    }
}

.box-item {
    width: 400px;
    height: 390px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 13px 13px 22px #ededed,
        -13px -13px 22px #ffffff;
    padding: 40px;
    font-family: $font;

    .box-header {
        display: flex;
        gap: 0 30px;
        align-items: center;
        text-align: left;
        margin-bottom: 40px;

        img {
            width: 90px;
            height: 90px;
            border-radius: 20px;
            border: 7px solid rgb(250, 250, 250);
            box-shadow: 13px 13px 22px #cacaca,
                -13px -13px 22px #ffffff;
        }

        &-right {
            h4 {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

    .box-body {
        text-align: left;
        margin-bottom: 30px;

    }

}



@media screen and (max-width: 1024px) {
    .card{
        .content{

            .card-list{
                gap: 0 30px;
                .card-list-item{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
   .hero-blog{
      .content{
          max-width:100%;
        .parent{
            padding: 40px;
        }

      }
   }
}
