.wrapper {
    position: relative;
    width: 100%;
    height: 830px;
    background-image: url(../app_images/c837a6_aa803204cef842e0b9ad7d820e64f77c_mv2.jpg);
    background-position: center;
    background-repeat:repeat;
    background-size: cover;
    .content{
         max-width: 1200px;
         justify-content:center;
         align-items:center;
         margin: 0 auto;
    }

}

nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    flex: 1;

    .background{

        width: 500px;
        background-color:#ffff;
        height: 60px;
        border-radius: 0 0 13px 13px;
        .menu{
            display: flex;
            padding: 0;

            li{
                width: 100px;
                height: 60px;
                align-items:center;
                text-align: center;
                line-height:50px;
                transition:all 0.5s ease;
                cursor: pointer;
                &:hover{
                    background-color:$color;
                    a{

                        color: #ffff;
                    }
                }



            }
            .f-border{
                border-radius: 0 0 13px 0;
                &:hover{

                    background-color:$color;

                }
            }
            .col__title{
                background-color:$color;
                border-radius: 0 0 0 13px;
               a{
                color: #ffff;
               }
            }
            li , a{
                text-decoration: none;
                list-style: none;
                font-size: 16px;
                font-family: $font;

            }
        }
        .menu li label {
            display: none;
        }

        .menu-icon {
            display: none;
        }

        input[type="checkbox"] {
            display: none;
        }
    }
}


.content-title{
    margin-top:130px;
    font-family: $font;
    &__item{
        h2{
            font-size: 5.6em;
            font-family: $fontserif;
            font-weight:bold;
            opacity: 0.8;

        }
        h6{
            font-size:25px;
            font-weight: 300;
            margin-bottom:40px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    nav{
        max-width:900px;
        margin: 0 auto;
    }
    .wrapper{
        position: relative;
        width: 100%;
        height:650px;
        .content-title{
            padding-top: 100px;
            max-width: 900px;
            margin: 0 auto;
        }
    }


}

@media only screen and (max-width: 992px) {

    nav{
        max-width:700px;
        justify-content: space-between;
        align-items: center;
        .background{
            background: none;
            width: auto;


            .menu-icon {
                display: block;
                color: rgb(22, 22, 22);
                font-size: 40px;
                width: 80px;
                height: 60px;
                background-color:#fff;
                border-radius: 0 0 13px 13px;


                i{
                    padding: 10px;
                }
            }

            #show-menu:checked~.menu-icon i::before {
                content: '\f00d';
                z-index: 10000;
                position:absolute;

            }
             .menu {
                    position: absolute;
                    display: block;
                    background: #ffffff;
                    height: 100vh;
                    width:100%;
                    padding-top: 100px;
                    top:-100vh;
                    left:0;
                    overflow-y: auto;
                    transition: all 1s ease;
                    z-index: 3;
                    .col__title{

                        background:none ;
                        a{
                            color: #000;
                        }

                    }

                }

                #show-menu:checked~.menu {
                    top: 0;
                    /*Nằm sát bên trái*/
                }

                .menu li {

                    margin: 15px 20px;
                    color: #000;
                    &:hover{
                        background: none;
                        color: #000;
                    }
                }

                .menu li .menu-link {
                    display: none;
                }

                .menu li a,
                .menu li label {
                    max-width: 100%;
                    line-height: 30px;
                    font-size: 28px;
                    font-weight: 500;
                    display: block;
                    margin: 0 auto;
                    cursor: pointer;
                    color: #000;
                    text-align: left;


                }
                .menu-item  label a {
                    &:hover{
                        color: rgb(216, 34, 34);
                    }


                }



                .menu #show-item1:checked~ul,
                .menu #show-item2:checked~ul,
                .menu #show-item3:checked~ul,
                .menu #show-item4:checked~ul,
                .menu #show-item5:checked~ul {
                    max-height: 100vh;
                }

                .menu-child li a {
                    padding: 20px;
                    color: black;

                }
            }
    }
}


/*Mobile*/
@media only screen and (max-width: 600px) {
    .wrapper{
        .content-title{
            &__item{
                h2{
                    font-size: 2em;
                }
            }
        }
    }
}