.footer {
    width: 100%;
    min-height: 600px;
    background-color: $color;
    color: #FFFF;
    .content {
        width: 920px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.list-item1 {
    grid-area: 1 / 1 / 2 / 3;
    .footer-header__contacts {
        padding-top: 10px;
        ul {
            padding: 0px;
            display: flex;
            gap: 10px;
            margin-bottom: 10px;
            li {
                list-style: none;
                width: 100%;
                color: #FFFFFF;
                font-size: 15px;
                input {
                    width: 100%;
                    background-color: $color1;
                    padding-left: 10px;
                    border-radius: 5px;
                }
                textarea {
                    background-color: $color1;
                    width: 100%;
                    padding: 10px;
                    height: 100px;
                    resize: none;
                    color: #ffffff;
                    border-radius: 5px;
                }
            }
        }
        .btn {
            text-align: right;
            button {
                width: 100px;
                height: 30px;
                font-size: 15px;
                font-family: $font1;
                background-color: $color1;
                border-radius: 5px;
                color: #FFFF;
            }
        }
    }
}

.list-item2 {
    grid-area: 1 / 3 / 2 / 4;
}

.footer-header__title {
    h4 {
        font-size: 18px;
        font-family: $font1;
        font-weight: 300;
        font-style: italic;
    }
}

.footer-header__a {
    padding-top: 40px;
    .footer-header__ul {
        padding-top: 10px;
        ul {
            padding: 0px;
            li {
                line-height: 28px;
                list-style: none;
                color: #6EA0C3;
                font-size: 13px;
            }
        }
    }
}

.list-item3 {
    grid-area: 1 / 4 / 2 / 5;
    width: 160px;
}

.list-item4 {
    grid-area: 1 / 5 / 2 / 6;
}

.footer-header {
    font-size: 13px;
}

.list-item5 {
    grid-area: 2 / 1 / 3 / 4;
    .footer-header__text {
        margin-top: 10px;
        margin-bottom: 20px;
        h6 {
            font-size: 14px;
            font-weight: 300;
            color: #6EA0C3;
            margin-bottom: 10px;
        }
        p {
            font-size: 14px;
            max-width: 84%;
        }
    }
}

.list-item6 {
    grid-area: 2 / 4 / 3 / 5;
    .footer-header__info {
        padding-top: 10px;
        ul {
            padding: 0px;
            margin-bottom: 14px;
            li {
                font-size: 13px;
                list-style: none;
                span {
                    opacity: 0.6;
                }
                #contact-email {
                    opacity: 1;
                    color: #6EA0C3;
                }
            }
        }
    }
}

.list-item7 {
    grid-area: 2 / 5 / 3 / 6;
    .footer-header__text {
        margin-top: 10px;
        p {
            font-size: 13px;
            margin-bottom: 20px;
        }
        span {
            float: right;
            color: #6EA0C3;
        }
    }
}

.footer-footer {
    ul {
        text-align: right;
        li {
            list-style: none;
            font-family: $font1;
            font-size: 13px;
            font-weight: 300;
            input {
                background-color: $color1;
                width: 200px;
                height: 30px;
                border-radius: 5px;
                font-size: 13px;
                padding-left: 5px;
            }
            button {
                background-color: $color1;
                width: 70px;
                height: 30px;
                border-radius: 5px;
                font-weight: 500;
                color: #FFFFFF;
            }
        }
    }
}

.footer-template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #474747;
    margin-top: 20px;
    color: #c5c5c5;
    font-family: $font1;
    font-size: 14px;
    padding: 0 20px;
    h5 {
        font-weight: 400;
    }
}