@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

header {
  width: 100%;
  height: 60px;
  background-color: #F4F4F4;
}
header .content {
  width: 920px;
  justify-content: right;
  align-items: center;
  margin: 0 auto;
  display: flex;
  text-align: center;
  padding-top: 10px;
}
header .content .header-login ul {
  padding: 0px;
  display: flex;
  gap: 8px;
}
header .content .header-login ul li {
  list-style: none;
  font-size: 10px;
  font-family: "Roboto Slab", serif;
}
header .content .header-search {
  align-items: center;
  display: flex;
  margin-left: 20px;
}
header .content .header-search input {
  width: 230px;
  height: 32px;
  border-radius: 20px;
  background-color: #bbbbbb;
  padding-left: 15px;
}
header .content .header-search__next {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  margin-left: 190px;
}
header .content .header-search__next svg {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  padding-top: 3px;
}

nav {
  width: 100%;
  height: 100px;
}
nav .content {
  max-width: 920px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex: 1;
  text-align: center;
  align-items: center;
}
nav .content .logo {
  font-size: 28px;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  color: black;
  font-weight: 300;
}
nav .content ul {
  display: flex;
  padding: 0;
  height: 80px;
}
nav .content ul li {
  list-style: none;
  padding: 34px 12px;
}
nav .content ul li a {
  text-decoration: none;
  font-size: 13px;
  color: black;
  font-family: "Roboto Slab", serif;
  flex: 1;
}
nav .content ul li a:hover {
  color: #e2494b;
}
nav .content .menu li label {
  display: none;
}
nav .content .menu-icon {
  display: none;
}
nav .content input[type=checkbox] {
  display: none;
}

@media only screen and (max-width: 1200px) {
  nav .content {
    padding: 20px;
  }
  nav .content .menu {
    gap: 0 13px;
  }
}
@media only screen and (max-width: 992px) {
  nav .content {
    width: auto;
    flex-direction: row-reverse;
  }
  nav .content .menu-icon {
    display: block;
    color: #da1010;
    font-size: 27px;
  }
  nav .content #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .menu {
    position: absolute;
    display: block;
    background: #fffffff7;
    height: auto;
    width: 100%;
    top: 200px;
    left: -100%;
    margin-left: 0;
    overflow-y: auto;
    transition: all 1s ease;
    z-index: 3;
  }
  nav .content #show-menu:checked ~ .menu {
    left: 0;
    /*Nằm sát bên trái*/
  }
  nav .content .menu li {
    margin: 15px 20px;
  }
  nav .content .menu li .menu-link {
    display: none;
  }
  nav .content .menu li a,
nav .content .menu li label {
    width: 100%;
    line-height: 30px;
    font-size: 18px;
    font-weight: 800;
    display: block;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    color: #000;
    text-align: right;
  }
  nav .content .menu #show-item1:checked ~ ul,
nav .content .menu #show-item2:checked ~ ul,
nav .content .menu #show-item3:checked ~ ul,
nav .content .menu #show-item4:checked ~ ul,
nav .content .menu #show-item5:checked ~ ul {
    max-height: 100vh;
  }
  nav .content .menu-child li a {
    padding: 20px;
    color: black;
  }
}
.slide {
  width: 100%;
  height: 500px;
}
.slide .content {
  width: 920px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.slide-elip {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.slide-elip__item {
  width: 300px;
  height: 300px;
  background-color: #000000;
  border-radius: 50%;
  border: 20px solid #e9e9e9;
}
.slide-elip__item1 {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #000000;
  border-radius: 50%;
  border: 20px solid #e9e9e9;
  margin-top: 20px;
}
.slide-elip_left {
  margin-right: 300px;
}

.slide-dots-next {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 100px;
  gap: 8px;
}
.slide-dots-next .slide-dot__item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #bdbdbd;
}
.slide-dots-next .slide-dot__item:nth-child(6) {
  border: 3px solid #bdbdbd;
  background: none;
}
.slide-dots-next svg {
  width: 30px;
  height: 30px;
  color: #afafaf;
}

.hero {
  width: 100%;
  min-height: 700px;
}
.hero .content {
  width: 920px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-box {
  padding-top: 30px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.div1 {
  grid-area: 1/1/2/2;
}

.div2 {
  grid-area: 1/2/2/3;
}

.div3 {
  grid-area: 1/3/2/4;
}

.div4 {
  grid-area: 1/4/2/5;
}

.div5 {
  grid-area: 2/2/3/3;
}

.div6 {
  grid-area: 2/3/3/4;
}

.div7 {
  grid-area: 2/4/3/5;
}

.container-title {
  text-align: center;
  max-width: 700px;
  padding-top: 50px;
  margin: 0 auto;
}
.container-title hr {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.container-title hr:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
}
.container-title hr:after {
  content: "";
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  color: #818078;
  background-color: #fcfcfa;
}
.container-title h3 {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}

.box .box-title {
  font-family: "Roboto Slab", serif;
}
.box .box-title h4 {
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
}
.box .box-title p {
  font-size: 13px;
  margin-top: 10px;
}
.box .box-image {
  position: relative;
  width: 215px;
  height: 140px;
}
.box .box-image .box1-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #000000e0;
  cursor: pointer;
  box-shadow: 0px 31px 16px -20px rgba(15, 15, 15, 0.548);
}
.box .box-image .box1-filter h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 18px;
  color: #ffff;
  font-family: "Roboto Slab", serif;
  font-weight: 200;
}
.box .box-text {
  padding-top: 20px;
  font-family: "Roboto Slab", serif;
}
.box .box-text p {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
}
.box .box-text span {
  font-size: 13px;
  color: red;
}

.footer {
  width: 100%;
  min-height: 300px;
  background-color: lightgray;
}
.footer .content {
  width: 920px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 50px;
}

.footer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.list1 {
  grid-area: 1/1/2/2;
}
.list1 .btn {
  margin-bottom: 20px;
}
.list1 .btn button {
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
}
.list1 .btn #btn1 {
  width: 200px;
  text-align: left;
}
.list1 .btn #btn2 {
  color: red;
  width: 80px;
  font-weight: 600;
}
.list1 .footer-info ul {
  display: flex;
  padding: 0px;
  gap: 10px;
}
.list1 .footer-info ul li {
  width: 100px;
  list-style: none;
  display: flex;
  gap: 0 10px;
  margin-bottom: 8px;
  align-items: center;
}
.list1 .footer-info ul li .footer-info-inline {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #000000;
}

.list2 {
  grid-area: 1/2/2/3;
}
.list2 .footer-blog__item {
  opacity: 0.8;
  margin-bottom: 50px;
}
.list2 .footer-blog__item h5 {
  font-size: 14px;
}
.list2 .footer-blog__item h6 {
  margin-bottom: 6px;
}
.list2 .footer-blog__item p {
  font-size: 11px;
  max-width: 96%;
}
.list2 .footer-blog__item span {
  font-size: 10px;
  float: right;
  color: red;
}

.list3 {
  grid-area: 1/3/2/4;
}
.list3 .footer-latest {
  opacity: 0.8;
}
.list3 .footer-latest p {
  font-size: 10px;
  max-width: 90%;
}
.list3 .footer-latest span {
  font-size: 12px;
  float: right;
  color: red;
}

.footer-item p {
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-title h4 {
  font-family: "Roboto Slab", serif;
  font-size: 19px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 10px;
}

.footer-template {
  width: 100%;
  height: 60px;
  background-color: #aaaaaaf7;
}
.footer-template .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #1a1a1a;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  padding: 20px;
}
.footer-template .content h5 {
  font-weight: 400;
}

/*# sourceMappingURL=app.css.map */
